@import "tailwindcss";

:root {
  --background: #F8F5FA;
  --foreground: #F8F5FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F5FA;
    --foreground: #F8F5FA;
  }
}

body {
  color: rgb(var(--background));
  background: rgb(var(--foreground)); 
}